[submodule "__submodules/zlib"]
	path = __submodules/zlib
	url = git@github.com:Convey-Compliance/zlib.git
[submodule "__submodules/fast-aes"]
	path = __submodules/fast-aes
	url = git@github.com:Convey-Compliance/fast-aes.git
